-e file:.#egg=lib
awscli
boto3
peewee
psycopg2-binary
requests
beautifulsoup4
pandas
retrying
matplotlib
pytest
scipy
progressbar2
scikit-learn
redshift-connector
h5py
git+https://github.com/maciejkula/spotlight.git@master
torch==1.4.0
